<strong>Olá, {{ deliveryman }}</strong>
<p>Hove uma nova entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    Vá até o loja para retirar sua entrega.
  </small>
</p>
